<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header>
            {% block header %}
            <img src="{{ asset('img/logogame.webp') }}" alt="Logo">
                <nav>
                    <ul>
                        <li><a href=" {{ path('app_home') }} ">Accueil</a></li>
                        <li><a href="{{ path('app_tournois') }}">Tournois</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a href=""></a></li>
                        {% if app.user == NULL %}
                            <li><a class="login" href=" {{path ('app_login')}} ">Se connecter</a></li>
                            <li><a class="register" href=" {{path ('app_register')}} ">S'enregistrer</a></li>
                        {% endif %}
                        {% if app.user != NULL %}
                            <li><a class="logoff" href=" {{path ('app_logout')}} ">Se déconnecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </header>
        <main>
            {% block main %}
                
            {% endblock %}
        </main>
        <footer>
            {% block footer %}

            {% endblock %}
        </footer>
    </body>
    {{ encore_entry_script_tags('app') }}

</html>
