<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>

    {# HEADER #}

        <header>
            {% block header %}
            <img src="{{ asset('img/logogame.webp') }}" alt="Logo">
                <nav>
                    <ul>
                        <li><a href=" {{ path('app_home') }} ">Accueil</a></li>
                        <li><a href="{{ path('app_tournois') }}">Tournois</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a href=""></a></li>
                        {% if app.user %}

                        <li><a href="{{ path('app_profil') }}">Mon Profil</a></li>
                        {% else %}

                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                        {% endif %}
                        
                        {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </header>

        {# MAIN #}

        <main>
            {% block main %}
                
            {% endblock %}
        </main>

        {# FOOTER #}

        <footer>
            {% block footer %}
                <a class="logo" href="{{ path('app_home') }}"><img src="{{ asset('img/logogame.webp') }}" alt="Logo"></a>
                <ul>
                    <li>
                        <a href="{{ path('app_contact') }}"><h3>Nous Contactez</h3></a>
                    </li>
                    <li>
                        <ul>
                            <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-discord"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </li>
                </ul>
            {% endblock %}
        </footer>
    </body>
    {{ encore_entry_script_tags('app') }}

</html>
